body{
    position: relative;
    background-color: #7a79791f;
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    @media screen and (min-width: 320px){
        #navbar{
            background-color: #ffffff;
            border: 0.1rem solid #807c7c;
            border-top: 0.1rem solid #413f3f;
            box-shadow: 0rem 0.2rem 0.4rem -0.2rem #330062;
            height: 3rem;
            position: fixed;      
            width: 100%;
            z-index: 1; 
            #left-box{
                display: flex;
                position: relative;
                width: 100%;
                bottom: 2%;
                height: 100%;
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    &.logo-btn{
                        img{
                            height: 2.8rem;    
                            width: 2.8rem;      
                        }
                    }     
                    &.clone-icon{
                        padding: 0rem 1rem;
                        img{
                            width: 1.5rem;
                        }
                        
                    }
                    &.menu-btn{
                        position: absolute;
                        right: 5%;
                        top: 31%;
                    
                        img{
                            width: 1.3rem;
                            transform: rotate(90deg);
                        }
                    }
                } 
                .hide{
                    display: none;
                }
            }
            #input-nb{
                display: flex;
                height: 2rem;
                right: 10%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                input{
                    display: none;
                }
                button{
                    background-color: transparent;
                    border: none;
                    
                    img{
                        &.img-1{
                            display: none;
                        }
                        &.img-2{
                            width: 1.3rem;
                        }
                        
                    }
                }
            }
            #right-box{
                display: none;
            }                       
        }
        #inner-page{
            background-color: #f2f1f1;
            width: 100%;
            height: 100%;
            padding-left: 0.5rem;
            padding-top: 1.5rem;
            position: absolute;
            top: 3.1rem;
            z-index: 0;
            h1{
                font-size: 2.2rem;
                font-weight: 700;
                margin-right: 2rem;
                line-height: 2.5rem;
            }
        }
    }
    @media screen and (min-width: 1201px){
        #navbar{
            background-color: #ffffff;
            border: 0.1rem solid #807c7c;
            border-top: 0.1rem solid #413f3f;
            box-shadow: 0rem 0.2rem 0.4rem -0.2rem #330062;
            height: 3rem;
            position: fixed;      
            width: 100%;
            z-index: 1;
            #left-box{
                position: absolute;
                width: 80rem;
                bottom: 2%;
                height: 3rem;
                img{
                    left: 1%;
                    margin: 0 1rem;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 2rem;           
                }
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    left: 8%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);            
                    &.btn-left{
                        background-color: transparent;
                        border: none;
                        color:#000000;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 1.1rem;
                        font-family: system-ui;
                    }
                    &.btn-2{
                        margin: 0 6rem;
                    }
                    &.menu-btn{
                        position: absolute;
                        left: 19%;
                        top: 37%;
                    }
                    img{
                        width: 1.1rem;
                        transform: rotate(90deg);
                    }
                }
                
            }
            #input-nb{
                display: flex;
                gap: 0.1rem;
                height: 2rem;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                input{
                    background-color:#92929296;
                    border-top-left-radius: 0.3rem;
                    border-bottom-left-radius: 0.3rem;
                    border: none;
                    width: 22rem;
                }
                input::placeholder{
                    color: #ffffff;
                    padding:  0rem 0.5rem;
                }
                button{
                    background-color: #6b6a6a;
                    border-top-right-radius: 0.3rem;
                    border-bottom-right-radius: 0.3rem;
                    border: none;
                    cursor: pointer;
                    img{
                        width: 1.5rem;
                    }
                }
            }
            #right-box{
                position: absolute;
                top: 25%;
                right: 1%;
                width: 21.6rem;
                button{
                    position: relative;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    margin: 0rem 0.4rem;
                    top: 50%;
                    &.button-1{
                        position: relative;
                        img{
                            width: 1.6rem;
                        }
                        .not{
                            background-color: red;
                            border: 0.1rem solid white;
                            border-radius: 1rem;
                            color: #ffffff;
                            position: absolute;
                            right: 10%;
                            top: -2%;
                            width: 1rem;
                        }
                    }    
                    &.button-2{
                        img{
                            width: 1.6rem;
                        }
                    }   
                    &.button-3{
                        img{
                            width: 1.9rem;
                            height: 1.3rem;
                        }
                    } 
                    &#button-4{
                        position: absolute;
                        background-color: #7a79791f;
                        border-radius: 0.3rem;
                        transform: translateY(-56%);
                        height: 2rem;
                        width: 8rem;
                        
                        img{
                            position: absolute;
                            width: 1.4rem;
                            left: 15%;
                            
                            transform: translate(-50%, -50%);
                        }
                        span{
                            position: absolute;
                            transform: translate(-50%, -50%);
                            right: -10%;
                        }
                    } 
                }
                .profile-img{
                    position: absolute;
                    right: 0%;
                    top: -15%;
                    img{
                        border-radius: 50%;
                        width: 2rem;
                        
                    }
                }
            }
        }
        #column-left{
            position: fixed;
            top: 3.1rem;
            background-color: #7a797950;
            width: 14%;
            height: 100vh;  
            z-index: 1;
        }
        #inner-page{
            background-color: #e6e6e6;
            width: 86%;
            height: 100%;
            position: absolute;
            top: 3.1rem;
            right: 0%;
            z-index: 0;
        }
    }
}